C:/Users/jonat/Downloads/WebCraft/26.1.1[[:space:]]-[[:space:]]Eaglercraft/.tools/gradle-8.14-bin.zip filter=lfs diff=lfs merge=lfs -text
C:/Users/jonat/Downloads/WebCraft/26.1.1[[:space:]]-[[:space:]]Eaglercraft/.tools/gradle-8.14/lib/kotlin-compiler-embeddable-2.0.21.jar filter=lfs diff=lfs merge=lfs -text
